<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>922752720171-dv2lpvd7fdlktnkbf7orpt6nog8rnhas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922752720171-dv2lpvd7fdlktnkbf7orpt6nog8rnhas</string>
	<key>API_KEY</key>
	<string>AIzaSyCwFVDElGIy91ZQvSLoI6gJ52IObSZdFm0</string>
	<key>GCM_SENDER_ID</key>
	<string>922752720171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AsgeY.MsgApp</string>
	<key>PROJECT_ID</key>
	<string>msgapp-2c654</string>
	<key>STORAGE_BUCKET</key>
	<string>msgapp-2c654.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922752720171:ios:9480af49adb96d50</string>
	<key>DATABASE_URL</key>
	<string>https://msgapp-2c654.firebaseio.com</string>
</dict>
</plist>